@import 'colors';
@import 'mixins';
@import 'sidebar';
@import 'authorization';
@import 'terminals';
@import 'buyers';
@import 'buyer';
@import 'page-404';
@import 'home';
@import 'animations';

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('../images/white-scratone.png');
  background-repeat: repeat;
}
* {
  box-sizing: border-box;
}
 